body{
    background-color: black;
}
#credit_payment_form{
    width: 700px;
    height: 550px;
    background-color: white;
    margin: 100px auto;
    border-radius: 3px;
    padding: 10px;
}
h5{
    margin: 10px;
    padding-top: 10px;
    padding-left: 5px;
}
.credit_card_number{
    width: 100%;
    height: 80px;
    font-size: 60px;
}
.credit_card_security_code{
    width: 25%;
    height: 80px;
    font-size: 60px;
}

select{
    width: 30%;
    height: 80px;
    font-size: 60px;
}
.credit_card_expiration_date{
    width: 100%;
    height: 80px;
    font-size: 60px;
}
.cards{
    width: 59%;
}