body {
    background-color: #d1b0b0;
}
#business_card {
    width: 700px;
    height: 420px;
    margin: 100px auto;
    background-color: rgb(144 105 55);
    background: linear-gradient(to left, rgb(144 105 55), gold);
    box-shadow: 4px 4px 35px 4px;
    border-radius: 10px;

}
.left_col{
    width: 60%;
    float: left;
    background-color: black;
    height: 420px;
    border-radius: 10px;
    background-image: url("https://img.freepik.com/free-vector/zigzag-lines-pattern-black-background_1017-37483.jpg");
    background-size: cover;
}
.right_col{
    width: 39%;
    float: right;
    height: 420px;
    border-radius: 10px;
}
.circle{
    width: 428px;
    height: 420px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    right: 560px;
    top: 102px;
    background-image: url("https://img.freepik.com/free-vector/zigzag-lines-pattern-black-background_1017-37483.jpg");
    background-size: cover;
}
#details{
    width: 80%;
    position: relative;
    top: 60px;
    left: 40px;
    z-index: 100;
    margin: auto;
    text-align: left;
    font-weight: bolder;
    color: white;
}
.small_circle{
    width: 50px;
    height: 50px;
    background: linear-gradient(to left, rgb(144 105 55), gold);
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
}
.material-icons{
    color: black;
}
td:last-child{
    padding-left: 30px;
}
#logo{
    position: relative;
    top: 20px;
    width: 50%;
    left: 100px;
}