#photo_gallery{
    width: 90%;
    height: auto;
    border: 1px solid black;
    margin: 10px auto;
    text-align: center;
}
.photo{
    width: 300px;
    height: 250px;
    border-radius: 13px;
    box-shadow: 4px 14px 43px 4px #6e6c6c;
    display: inline-block;
    margin: 10px;
    opacity: 0.5;
}
body{
    background-color: black;
}
h1{
    color: gold;
}
.photo:hover{
    opacity: 1;
    cursor: pointer;
}