.col{
    height: 1000px;
}
.box1{
    background-color: red;
    text-align: center;
}
p{
    text-align: center;
}
.box2{
    background-color: #14bdce;
}
.box3{
    background-color: #d1fc00;
}
.img1{
    width: 100%;
}