body{
    background-color: rgb(179 179 179);
}
.container{
    height: 1000px;
    padding-top: 100px;
}
.presentation{
    width: 80%;
    height: 600px;
    background-color: rgb(225 227 226);
    margin: auto;
    border-radius: 13px;
    box-shadow: 4px 4px 37px 8px black;
    padding-top: 20px;
}
.header{
    margin: 0;
    padding: 0;
}
.top-left-header{
    padding-left: 60px;
    padding-top: 10px;
    font-size: 25px;
    color: #393636;
    font-family: serif;
}
.top-right-header{
    text-align: right;
    padding-top: 10px;
    padding-right: 50px;
}
.first_button{
    border: none;
    background-color: rgb(225 227 226);
}
.second_button{
    background-color: #242222;
    color: white;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.content{
    height: 515px;
    margin: 0;
}
.first_left_content{
}
.first_right_content{
    background-image: url("../img/img1.png");
    background-size: 100% 100%;
}
.left_title{
    margin: 57px auto;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    font-family: sans-serif;
    margin-bottom: 20px;
}
.left_title2{
    text-align: left;
    width: 80%;
    margin: auto;
    position: relative;
    left: 37px;
    font-size: 13px;
    margin-bottom: 30px;
}
.buttons{
    text-align: center;
    margin-bottom: 40px;
}
.third_button{
    color: black;
    padding: 10px 20px 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
}
.left_bottom{
    text-align: left;
    width: 80%;
    margin: auto;
    position: relative;
    left: 37px;
    font-size: 13px;
}
.companies_logos{
    width: 200px;
}
button:hover{
    box-shadow: 1px 1px 40px 1px #a24408;
}