th{
    background-color: black !important;
    color: gold !important;
}
tr:nth-child(odd) td{
    background-color: #def1f7;
}

tr:hover td{
    background-color: darkred !important;
    color: white !important;
    cursor: pointer;
}