body{
    background-color: black;
}
#room{
    width: 1000px;
    height: 650px;
    margin: 50px auto;
    border: 1px solid black;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgwuVarDlyAAmf6U6T4yRGaX3bBLb0mXO_Qg&s");
    background-size: 100% 100%;
}
#mytv{
    width: 333px;
    height: 230px;
    position: relative;
    top: 98px;
    left: 367px;
    border: none;
}