.container {
    width: 80%;
    height: 500px;
    margin: 100px auto;
    padding: 50px;
    border: 1px solid black;
    background-color: #e6d7d7;
    text-align: center;
}

.email {
    width: 70%;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px
}

.btn {
    width: 70%;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
    font-weight: bolder;
    color: black;
}
#message {
    width: 70%;
    height: 80px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}