.jon{
    height: 700px;
}

.no_support{
    display: none;
    color: gold;
    text-align: center;
    padding-top: 100px;
}


/* Extra small devices Jon's style (phones, 600px and down) */
@media only screen and (max-width: 375px) {
    .jon{
        background-color: #000000 !important;
    }

    .logo{
        width: 20%;
        display: block;
        margin: auto;
    }

    .no_support{
        display: block;
    }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .jon{
        background-color: red;
    }

    .logo{
        width: 30%;
        display: none;
        margin: auto;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .jon{
        background-color: #25d2d0;
    }

    .logo{
        width: 30%;
        display: block;
        margin: auto;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .jon{
        background-color: #d1fc00;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .jon{
        background-color: rgba(239, 187, 54, 0.26);
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .jon{
        background-color: rgba(126, 7, 7, 0.26);
    }
}