.myform{
    width: 60%;
    height: 600px;
    background: linear-gradient(#5962c6, #9198e5);
    margin: 50px auto;
    padding-top: 80px;
}
.myform2{
    width: 60%;
    height: auto;
    background-color: white;
    margin:auto;
    border-radius: 12px;
    padding-bottom: 20px;
}

.myform2_title{
    text-align: center;
    padding-top: 30px;
}
form{
    text-align: center;
}
input{
    width: 90%;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 3px;
}
textarea{
    width: 90%;
    min-height: 100px;
    border-radius: 3px;
}