body{
    background-image: url("https://img.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg");
    background-size: cover;
}
.logo{
    width: 120px;
}
.navbar{
    margin-top: 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.w-100{
    width: 100%;
    height: 450px;
}
.cards{
    text-align: center;
    padding: 0;
}
.card{
    display: inline-block;
    margin: 0;
}
.card-img-top{
    width: 100%;
    height: 250px;
}