body{
    background-color: #000b27;
    background-image: url("https://images.rawpixel.com/image_social_landscape/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0zNzgtMDkta255OWZoM2IuanBn.jpg");
}
#children_stories{
    width: 90%;
    border: 1px solid black;
    margin: 20px auto;
    background-color: whitesmoke;
    border-radius: 12px;
    box-shadow: 4px 4px 4px 4px black;
    background-image: url("https://media.istockphoto.com/id/1398999936/vector/illustration-of-light-blue-dots-and-striped-circles-pattern-background.jpg?s=612x612&w=0&k=20&c=4277V1AOFLZoU4qsrM99_JrimDq5Cbg6Bxc7Fk7yUJY=");
}
.project_title{
    color: #960f0f;
    text-align: center;
    text-shadow: 3px 3px 20px black;
}
section{
    width: 95%;
    padding: 5px;
    border-radius: 6px;
    margin: auto auto 20px;
    border: 1px double darkmagenta;
}
section h3{
    color: purple;
    text-align: center;
}
section h3 img{
    width: 30px;
}
nav{
    width: 80%;
    margin: auto;
    text-align: center;
}
nav a{
    background-color: black;
    color: gold;
    margin: 3px;
    padding: 3px;
    text-decoration: none;
    border-radius: 6px;
}
nav a:hover{
    background-color: gold;
    color: black;
}
#go_to_top{
    width: 70px;
    position: fixed;
    top: 65%;
    left: 90%;
}
#section1{
    background-color: rgba(10, 185, 10, 0.48);
}
#section2{
    background-color: rgb(210, 225, 234);
}
#section3{
    background-color: rgb(239, 143, 73);
}
#section4{
    background-color: rgba(95, 19, 206, 0.48);
}