#lorem{
    width: 80%;
    border: 1px solid black;
    padding: 10px;
    margin: 20px auto;
    border-radius: 7px;
    background-color: whitesmoke;
}
h1{
    text-align: center;
}
#text{
    margin: auto;
    padding: 5px;
}
#seach_form{
    text-align: center;
}
.found{
    background-color: #14bdce;
    padding-left: 3px;
    padding-right: 3px;
}
.found_label{
    background-color: darkred;
    padding-left: 3px;
    padding-right: 3px;
    color:gold;
}
#show_total_found{
    display: none;
}