body {
    background-color: black;
}

.container {
    width: 450px;
    height: 600px;
    padding: 5px;
    background-color: white;
    overflow: auto;
    margin: auto;
}

mark {
    padding: 2px;
}