th{
    background-color: black !important;
    color: gold !important;
}
tr:nth-child(even) td{
    background-color: #e3ebf9;
}
tr:hover td{
    background-color: darkred !important;
    cursor: pointer;
}
.search_form{
    text-align: center;
}
input, select{
    width: 300px;
    height: 35px;
}
label{
    font-size:20px;
    font-weight: bolder;

}