body {
    background-color: black;
}

#calendar {
    width: 80%;
    height: auto;
    margin: 30px auto;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 13px;
}

td {
    width: 110px;
    height: 110px !important;
    text-align: center;
    font-size: 30px;
}

th {
    font-size: 14px;
    text-align: center;
    background-color: #edc2a9 !important;
}


#buttons a{
    margin: 4px;
}

#buttons a:first-child {
    float: left;
}
#buttons a:last-child {
    float: right;
}
.today_class{
    background-color: green !important;
    color: white !important;
}
.cal_day_class span{
    position: relative;
    top: -10px;
    left: 20px;
    background-color: red;
}
.material-icons{
    cursor: pointer;
}