body {
    background-color: black;
}

#calendar {
    width: 80%;
    height: auto;
    margin: 30px auto;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 13px;
}

td {
    width: 110px;
    height: 110px !important;
    text-align: right;
    font-size: 13px;
}

th {
    font-size: 14px;
    text-align: center;
    background-color: #edc2a9 !important;
}

td span {
    background-color: #c4c4c4;
    color: #000000;
    padding: 3px;
    border-radius: 50%;
    display: block;
    width: 30px;
    text-align: center;
    margin: auto;
}
#buttons a{
    margin: 4px;
}

#buttons a:first-child {
    float: left;
}
#buttons a:last-child {
    float: right;
}