.box{
    width: 800px;
    height: auto;
    margin: 140px auto;
    text-align: center;
}
input{
    width: 300px;
    height: 40px;
}
.poster_img{
    height: 130px;
}
.movie{
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 20px;
}
.movie_details{
    list-style: none;
}
.movie_details li{
    text-align: left;
}
.movie_title{
    text-align: left;
    padding-left: 30px;
    color: purple;
}