body{
background-color: black;
}
#lottery{
/*
    background-image: url("https://media.istockphoto.com/id/1136691807/photo/loosing-power-ball-ticket.jpg?s=612x612&w=0&k=20&c=8ha2j43ktlLZ0G4pVB5-6kXA0HBnPByp968qe7Yngus=");
*/
    background-size: 100% 100%;
    width: 400px;
    height: 700px;
    margin: auto;
}
.row{
    padding: 0;
    margin: 0;
}
.col{
    padding: 0;
    margin: 0;
    height: 700px;
}
.left_div{
     background-color: rgba(255, 0, 0, 0.5);
}
.right_div{
    background-color:white;
}
.left_div span {
    text-align: center;
    display: inline-block;
    writing-mode: vertical-rl; /* Changes the text direction to vertical, right-to-left */
    transform: rotate(180deg); /* Optional: Rotates the text if you want top-to-bottom instead of bottom-to-top */
    text-align: center; /* Aligns the text to the center */
    margin-top: 30px;
    color: whitesmoke;
}
.top_head{
    width: 94%;
    margin: 20px auto;
    height: 119px;
}
.letters{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    margin-right: -3px;
    background-color: black;
    color: whitesmoke;
    position: relative;
    top: -10px;
}
.newyork{
    padding-left: 20px;
    position: relative;
    top: 12px;
}
.powerplay{
    width: 150px;
    position: relative;
    left: 165px;
    height: 27px;
    top: -11px;
    font-size: 23px;
    background-color: #d2e1ea;
}
.powerplay span{
    position: relative;
    top: -3px;
}
.powerplay span:first-child{
    background-color: black;
    padding-left: 3px;
    padding-right: 3px;
    color: whitesmoke;
}
.powerplay span:last-child{
    background-color: #d2e1ea;
    padding-left: 3px;
    padding-right: 3px;
}
td{
    text-align: center;
}
.winning_numbers{
    text-align: center;
}
.winning_numbers div{
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    line-height: 50px;
    background-color: white;
    margin-right: 5px;
    box-shadow: 4px 4px 24px 4px black;
}
.winning_numbers div:last-child{
    background-color: pink;
    color: #a61212 !important;
}
.user_inputs{
    margin-top: 20px;
    text-align: center;
}
.user_inputs input{
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 50px;
}
.last_number{
    background-color: pink !important;
    color: #a61212 !important;
}
.display_counter{
    text-align: center;
    font-size: 15px;
    color: darkred;
}