form label {
    font-size: 25px;
    margin-right: 10px;
    letter-spacing: 2px;
    font-weight: 600;
}
input {
    outline: none;
    padding-left: 10px;
    height: 40px;
    width: 300px;
}
input:focus {
    border: 1px solid black;
}
form button {
    width: 50px;
    height: 41px;
}

.container div:last-of-type {
    width: 300px;
    position: relative;
    top: -48px;
    left: 183px;
    min-height: 50px;
    height: 210px !important;
    overflow: auto !important;
}
