#box{
    width: 600px;
    height: 300px;
    border: 1px solid black;
    background-color: royalblue;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    padding: 5px;
    color: white;
    overflow: auto;
    position: relative;
}