.box{
    width: 500px;
    height: auto;
    margin: 100px auto;
    padding: 5px;
    text-align: center;
    background-color: #e3eef5;
}
#mybox{
    width: 500px;
    height: auto;
    margin: auto;
    border: 1px solid black;
    text-align: center;
}
.jonbox{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    margin: 3px;
    display: inline-block;
    border: 1px solid black;
    line-height: 50px;
}
.even_number{
    background-color: green;
    color: white;
}
.odd_number{
    background-color: darkred;
    color: white;
}